@model IEnumerable<GoodreadsDataAnalysis.Models.FavoriteBook>

@{
    ViewData["Title"] = "Favorite Books";
}

<h1>Favorite Books</h1>

<p>
    <a asp-action="Create">Add a Book</a>
</p>
<table class="table table-hover">
    <thead>
        <tr scope="col" class="table-light">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr scope="row">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
